#container {
   display: flex;
   flex-flow: row wrap;
   }

.firstTwo {
   flex: 2 1 100px;
   background: blue;
   border:1px solid black;
   color:white;
   font-size:large;
   text-align:center;
   padding:20px 20px 20px 20px;
   margin: 4px;
   }


.lastTwo {
   flex: 2 1 100px;
   background: red;
   border:1px solid black;
   color:white;
   font-size:large;
   text-align:center;
   width:200px;
   padding:10px 10px 10px 10px;
   margin: 4px;
   }
